version: 2.1

defaults: &defaults
  working_directory: /home/circleci/.go_workspace/src/github.com/gruntwork-io/gruntwork-installer
  machine:
    image: ubuntu-2204:current
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: run tests
          command: |
            ./_ci/run-tests.sh
workflows:
  install-and-test:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
          context:
            - AWS__PHXDEVOPS__circle-ci-test
            - GITHUB__PAT__gruntwork-ci
